<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>My Vue App</title>
</head>
<body>
    <div class="contenedor">
        <div id="app">
        <div class="targeta">
            <h3>Generar saludo</h3>
            <input type="text" v-model="nombreUsuario" placeholder="Ingrese su nombre">
            <button @click="saludar">Generar</button>
            <p>{{ mensaje }}</p>
        </div>

         <div class="tarjeta">
        <h3>Ejercicio de Suscripcion</h3>
        <form @submit.prevent="suscribirse">
            <label for="correoUsuario" >Correo Electrónico:</label>
            <input type="email" id="correoUsuario" v-model="correoUsuario" placeholder="ejemplo@dominio.com" required>
            <button type="submit">Suscribirse</button>
        </form>
        <p id="mensajeEnvio" style="color: green;">{{ mensajeSuscripcion }}</p>
    </div>
    </div>
    </div>
    
    <script>
        Vue.createApp({
            data() {
                return {
                    nombreUsuario: '',
                    mensaje: '',
                    correoUsuario: '',
                    mensajeSuscripcion: ''
                }
            },
            methods: {
                saludar() {
                    if(this.nombreUsuario.trim() !== '') {
                        this.mensaje = `¡Hola, ${this.nombreUsuario}! Bienvenido a Vue.js!`;
                    } else {
                        this.mensaje = 'Por favor, ingresa tu nombre.';
                    }
                },
                suscribirse() {
                    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                    if (emailRegex.test(this.correoUsuario)) {
                        this.mensajeSuscripcion = 'Gracias por suscribirte con el correo ' + this.correoUsuario;
                    } else {
                        this.mensajeSuscripcion = 'Por favor, ingresa un correo electrónico válido.';
                    }
                }
            }
        }).mount('#app')
    </script>
</body>
</html>